<%- include('../partials/header') %>

<form method="GET" action="/users/<%= user._id %>/posts/new">
    <input type="submit" value="New Post">
</form>

<form method="GET" action="/users/<%= user._id %>/posts">   
    <input type="submit" value="My Posts">
</form>

<form method="GET" action="/destinations">   
    <input type="submit" value="Where Ya Goin">
</form>

<% user.posts.forEach(function(p) { %>
<div><%= p.title %></div>
<div><%= p.textContent %></div>
<% }) %>